<p> The following example shows an event binding that implements a click handler:  </p>
<p>
	<click-me> </click-me>
</p>

<p> The following example shows an event binding that implements a click handler - which also shows the number of clicks you have done !  </p>
<p>
	<click-count> </click-count>
</p>

<p> The following example listens to the event and sends the entire event payload to the components.
	Add a key below</p>
<p>
	<key-up> </key-up>
</p>

<p>
There's another way to get the user data: use Angular template reference variables. 
These variables provide direct access to an element from within the template. 
To declare a template reference variable, precede an identifier with a hash (or pound) character (#)
</p>
<p>
	<loop-back> </loop-back>
</p>

<p>
The (keyup) event handler hears every keystroke. Here we listen to both the Enter key and the blur event.
because it signals that the user has finished typing. Type a word and press enter or click somewhere else. 

</p>
<p>
	<keyup-enter> </keyup-enter>
</p>

<p>
Below is the small example of using the all of the above information. Try to add a list in the input box below and click enter or click somewhere else 
or click on add button to see the changes, that adds to the list.
</p>
<h4> Add an item to the list </h4>
<p>
	<make-list> </make-list>
</p>