.main{
    width : 500px;
    margin : 0 auto;
    border : 10px solid #dfdfdf;
    font-family: sans-serif;
    padding : 2px;
    text-align: center;
    margin-top: 10px;
}

h1{
    text-align: center;
    background-color: darkslategray;
    color : white;
    padding : 30px;
    border : 2px solid grey;
}

.addItem{
    position : relative;
    padding : 30px 0px;
    margin-bottom: 0px;
}

.addText{
    width : 80%;
    padding : 5px;
    height : 30px;
    font-size: 20px;
}

.addItem button{
    height : 45px;
    width : 50px;
    padding : 5px;

}

ul{
    list-style: none;
    margin-left : -40px;
    margin-bottom: 10px;
    font-size: 20px;
    color: black
}

li{
    border-bottom: 1px solid #dfdfdf;
    background-color: #407070;
    padding: 10px 10px;
    margin-bottom: 5px;
    font-size: 25px;
}

span{
    cursor : pointer;
    margin-right: 10px;
    float : right;
}